# 資料庫連線字串範例
DATABASE_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@db:5432/<POSTGRES_DB>

# 資料庫連線資訊
POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=<your_postgres_db>

# JWT 秘鑰範例
JWT_SECRET=<your_jwt_secret>


# 日誌等級（例如：debug、info、warn、error）
LOG_LEVEL=<your_log_level>
